{% for change in changelog %}{{ name }} ({{ change.version }}-0~{{ release }}) {{ release }}; urgency=low

{% for entry in change.logs %}  * {{ entry }}
{% endfor %}
 -- {{ author }} <{{ author_email }}>  {{ change.date }}
{% endfor %}
