Source: {{ name }}
Section: {{ section }}
Priority: optional
Maintainer: {{ author }} <{{ author_email }}>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7) {% if build_dependencies %},{% endif %} {% for dep in build_dependencies %}{{ dep }}{% if not loop.last %}, {% endif %}{% endfor %}
Standards-Version: 0.1
Homepage: {{ url }}

Package: {{ name }}
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-support, python-setuptools{% if dependencies %},{% endif %} {% for dep in dependencies %}{{ dep }}{% if not loop.last %}, {% endif %}{% endfor %}
Description: {{ description }}
